@import "C:/Projects/BeerShop/src/_colors.scss";

#card-container-outer {
  width: 300px;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(5, 7, 32, 0.08);
  border-radius: 4px;
  border: 1px solid $light-grey;
}

#card-container-inner {
  width: 268px;
  height: 433px;
  display: grid;
  grid-template-rows: 306px 1fr;
  gap: 13px;
}

#card-info-container {
  display: grid;
  grid-template-rows: 40px 160px 1fr;
  gap: 12px;
}

#card-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#card-header-icons-container {
  display: flex;
  width: 80px;
}

.card-header-icon {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px;
}

#card-info-img {
  background-color: rgb(245, 241, 245);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

#card-info-text {
  margin-top: 4px;
}

p {
  margin: 0;
}

#beerStyle,
#beerDesc {
  font-size: 14px;
  line-height: 24px;
  color: $dark-grey;
}

#beerName {
  font-size: 16px;
  line-height: 28px;
  font-weight: 900;

  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

img {
  height: 125px;
  object-fit: contain;
  margin-top: 21px;
}

#card-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#beer-card-content {
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
}

#beer-card-content-grey, #sale-from {
  color: $dark-grey;
}

#card-cart-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#card-cart-input {
  color: $dark-grey;
  width: 42px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid $dark-grey;
  border-radius: 4px;
}

#cart-button {
  width: 150px;
  height: 40px;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.svg-icon.cart-button-icon {
  height: 24px;
  width: 24px;
  background-color: $white;
  mask-image: url("../../../../assets/icons/cart.svg");
}
