@import "../../../../colors";

#card-cart-container {
  width: 300px;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#summary-header {
  padding-bottom: 17px;
  border-bottom: 1px solid $grey;
}

#summary-title {
  padding-bottom: 7px;
}

#prices-container {
  padding: 17px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid $grey;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#order-total {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
}
