<div id="card-cart-container">
  <div>
    <p id="delivery-time">Delivery time appr. 3–7 workdays</p>
    <p class="headline_h4" id="total">Total</p>
    <p class="headline_h2">€8.49</p>
    <p>Prices incl. VAT plus <span id="shipping-cost">shipping costs</span></p>
  </div>
  <div id="buttons-container">
    <app-plus-minus-button [width]="'100%'"></app-plus-minus-button>
    <app-primary-button
      class="add-to-cart"
      [width]="'100%'"
      [text]="'Add to cart'"
    ></app-primary-button>
  </div>
</div>
