$primary: #5ab0bb;
$turquoise-dark: #1493a4;
$turquoise-light: #cee7eb;
$violet: #66318d;
$orange: #fb8200;
$success-green-dark: #4caf50;
$success-green-light: #ebf4e6;
$warning-error: #be0028;
$black: #000000;
$dark-grey: #7b7e82;
$grey: #cfcfcf;
$light-grey: #e9e9e9;
$very-light-grey: #faf9fb;
$white: #ffffff;
