<!-- <div id="checks">
  <app-checkbox
    [labelText]="'Extra Pale'"
    [value]="'Extra Pale'"
    (click)="myFunction('Extra Pale')"
  ></app-checkbox>
  <app-checkbox
    [labelText]="'Pale Ale'"
    [value]="'Pale Ale'"
    (click)="myFunction('Pale Ale')"
  ></app-checkbox>
  <app-checkbox
    [labelText]="'Maris Otter Extra Pale'"
    [value]="'Maris Otter Extra Pale'"
    (click)="myFunction('Maris Otter Extra Pale')"
  ></app-checkbox>
  <app-checkbox
    [labelText]="'Wheat'"
    [value]="'Wheat'"
    (click)="myFunction('Wheat')"
  ></app-checkbox>
</div> -->
